<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studio2h.javawebbbs.mapper.PostMapper">

    <insert id="insertNewPost">
        insert into post (post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
                          count_of_private, count_of_browsers, category_id, author_id, post_status)
        values (#{postId}, #{postTitle}, #{createTime}, #{updateTime}, #{postText}, #{countOfComments}, #{countOfLikes},
                #{countOfPrivate}, #{countOfBrowsers}, #{categoryId}, #{authorId}, #{postIfVisible})
    </insert>
    <update id="updateStatusById">
        update post
        set post_status = #{status},
            update_time = now()
        where post_id = #{id}
    </update>
    <update id="updatePost">
        update post
        <set>
            <if test="postTitle != null and postTitle != ''">
                post_title = #{postTitle},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="postText != null and postText != ''">
                post_text = #{postText},
            </if>
            <if test="countOfComments != null">
                count_of_comments = #{countOfComments},
            </if>
            <if test="countOfLikes != null">
                count_of_likes = #{countOfLikes},
            </if>
            <if test="countOfPrivate != null">
                count_of_private = #{countOfPrivate},
            </if>
            <if test="countOfBrowsers != null">
                count_of_browsers = #{countOfBrowsers},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="postStatus != null">
                post_status = #{postStatus}
            </if>
        </set>
        where post_id = #{postId}
    </update>
    <delete id="deletePost">
        delete
        from post
        where post_id = #{id}
    </delete>
    <select id="listOrderByCreateTime" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by create_time
    </select>
    <select id="listOrderByUpdateTime" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by update_time
    </select>
    <select id="listReverseByCreateTime" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="countByConditions" resultType="java.lang.Integer">
        select count(*) from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="getByConditions" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="listByConditions" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="listReverseByUpdateTime" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="listOrderByComments" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by count_of_comments
    </select>
    <select id="listOrderByLikes" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by count_of_likes
    </select>
    <select id="listOrderByPrivate" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by count_of_private
    </select>
    <select id="listOrderByBrowsers" resultType="com.studio2h.javawebbbs.pojo.post.Post">
        select post_id, post_title, create_time, update_time, post_text, count_of_comments, count_of_likes,
        count_of_private, count_of_browsers, category_id, author_id, post_status from post
        <where>
            <if test="postId != null">
                post_id = #{postId}
            </if>
            <if test="postTitle != null">
                and post_title = #{postTitle}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
            <if test="startUpdateTime != null and endUpdateTime != null">
                and update_time between #{startUpdateTime} and #{endUpdateTime}
            </if>
            <if test="countOfComments != null">
                and count_of_comments = #{countOfComments}
            </if>
            <if test="countOfLikes != null">
                and count_of_likes = #{countOfLikes}
            </if>
            <if test="countOfPrivate != null">
                and count_of_private = #{countOfLikes}
            </if>
            <if test="countOfBrowsers != null">
                and count_of_browsers = #{countOfBrowsers}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="postStatus != null">
                and post_status = #{postStatus}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by count_of_browsers
    </select>
</mapper>