<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studio2h.javawebbbs.mapper.UserMapper">
    <insert id="insertUser">
        insert into `user` (user_name, user_password, user_avatar_path, user_sex, user_birthday, user_signature,
                            user_exp, user_level, user_email, user_phone_number, user_if_op, create_time, update_time,
                            user_if_used, count_of_follow, count_of_be_follow, count_of_private_posts, count_of_posts,
                            count_of_comments)
        values (#{userName}, #{userPassword}, #{userAvatarPath}, #{userSex}, #{userBirthday}, #{userSignature},
                #{userExp}, #{userLevel}, #{userEmail}, #{userPhoneNumber}, #{userIfOp}, #{createTime}, #{updateTime},
                #{userIfUsed}, #{countOfFollow}, #{countOfBeFollow}, #{countOfPrivatePosts}, #{countOfPosts},
                #{countOfComments})
    </insert>
    <update id="removeUserById">
        update `user`
        set user_if_used = #{ifUsed},
            update_time  = now()
        where user_id = #{id}
    </update>
    <update id="removeUserByName">
        update `user`
        set user_if_used = #{ifUsed},
            update_time  = now()
        where user_name = #{name}
    </update>
    <update id="updateUserById">
        update `user`
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userPassword != null and userPassword != ''">
                user_password = #{userPassword},
            </if>
            <if test="userAvatarPath != null and userAvatarPath != ''">
                user_avatar_path = #{userAvatarPath},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday},
            </if>
            <if test="userSignature != null and userSignature != ''">
                user_signature = #{userSignature},
            </if>
            <if test="userExp != null">
                user_exp = #{userExp},
            </if>
            <if test="userLevel != null">
                user_level = #{userLevel},
            </if>
            <if test="userEmail != null and userEmail != ''">
                user_email = #{userEmail},
            </if>
            <if test="userPhoneNumber != null and userPhoneNumber != ''">
                user_phone_number = #{userPhoneNumber},
            </if>
            <if test="userIfOp != null">
                user_if_op = #{userIfOp},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
            <if test="countOfFollow != null">
                count_of_follow = #{countOfFollow}
            </if>
            <if test="countOfBeFollow != null">
                count_of_be_follow = #{countOfBeFollow}
            </if>
            <if test="updateTime != null">
                count_of_private_posts = #{countOfPrivatePosts}
            </if>
            <if test="updateTime != null">
                count_of_posts = #{countOfPosts}
            </if>
            <if test="updateTime != null">
                count_of_comments = #{countOfComments}
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <update id="updateUserByName">
        update `user`
        <set>
            <if test="newUser.userName != null and newUser.userName != ''">
                user_name = #{newUser.userName},
            </if>
            <if test="newUser.userPassword != null and newUser.userPassword != ''">
                user_password = #{newUser.userPassword},
            </if>
            <if test="newUser.userAvatarPath != null and newUser.userAvatarPath != ''">
                user_avatar_path = #{newUser.userAvatarPath},
            </if>
            <if test="newUser.userSex != null">
                user_sex = #{newUser.userSex},
            </if>
            <if test="newUser.userBirthday != null">
                user_birthday = #{newUser.userBirthday},
            </if>
            <if test="newUser.userSignature != null and newUser.userSignature != ''">
                user_signature = #{newUser.userSignature},
            </if>
            <if test="newUser.userExp != null">
                user_exp = #{newUser.userExp},
            </if>
            <if test="newUser.userLevel != null">
                user_level = #{newUser.userLevel},
            </if>
            <if test="newUser.userEmail != null and newUser.userEmail != ''">
                user_email = #{newUser.userEmail},
            </if>
            <if test="newUser.userPhoneNumber != null and newUser.userPhoneNumber != ''">
                user_phone_number = #{newUser.userPhoneNumber},
            </if>
            <if test="newUser.userIfOp != null">
                user_if_op = #{newUser.userIfOp},
            </if>
            <if test="newUser.updateTime != null">
                update_time = #{newUser.updateTime}
            </if>
            <if test="newUser.countOfFollow != null">
                count_of_follow = #{newUser.countOfFollow}
            </if>
            <if test="newUser.countOfBeFollow != null">
                count_of_be_follow = #{newUser.countOfBeFollow}
            </if>
            <if test="newUser.updateTime != null">
                count_of_private_posts = #{newUser.countOfPrivatePosts}
            </if>
            <if test="newUser.updateTime != null">
                count_of_posts = #{newUser.countOfPosts}
            </if>
            <if test="newUser.updateTime != null">
                count_of_comments = #{newUser.countOfComments}
            </if>
        </set>
        where user_name = #{name}
    </update>
    <delete id="deleteUserById">
        delete
        from `user`
        where user_id = #{id}
    </delete>
    <delete id="deleteUserByName">
        delete
        from `user`
        where user_name = #{name}
    </delete>
    <select id="getUserById" resultType="com.studio2h.javawebbbs.pojo.user.User">
        select user_id,
               user_name,
               user_password,
               user_avatar_path,
               user_sex,
               user_birthday,
               user_signature,
               user_exp,
               user_level,
               user_email,
               user_phone_number,
               user_if_op,
               create_time,
               update_time,
               user_if_used,
               count_of_follow,
               count_of_be_follow,
               count_of_private_posts,
               count_of_posts,
               count_of_comments
        from `user`
        where user_id = #{id}
    </select>
    <select id="getUserByName" resultType="com.studio2h.javawebbbs.pojo.user.User">
        select user_id,
               user_name,
               user_password,
               user_avatar_path,
               user_sex,
               user_birthday,
               user_signature,
               user_exp,
               user_level,
               user_email,
               user_phone_number,
               user_if_op,
               create_time,
               update_time,
               user_if_used,
               count_of_follow,
               count_of_be_follow,
               count_of_private_posts,
               count_of_posts,
               count_of_comments
        from `user`
        where user_name = #{name}
    </select>
    <select id="countUsers" resultType="java.lang.Integer">
        select count(*)
        from `user`
    </select>
    <select id="countUsedUsers" resultType="java.lang.Integer">
        select count(*)
        from `user`
        where user_if_used = 1
    </select>
    <select id="listAllUsedUsers" resultType="com.studio2h.javawebbbs.pojo.user.User">
        select user_id,
               user_name,
               user_password,
               user_avatar_path,
               user_sex,
               user_birthday,
               user_signature,
               user_exp,
               user_level,
               user_email,
               user_phone_number,
               user_if_op,
               create_time,
               update_time,
               user_if_used,
               count_of_follow,
               count_of_be_follow,
               count_of_private_posts,
               count_of_posts,
               count_of_comments
        from `user`
        where user_if_used = 1
    </select>
    <select id="listAllUsers" resultType="com.studio2h.javawebbbs.pojo.user.User">
        select user_id,
               user_name,
               user_password,
               user_avatar_path,
               user_sex,
               user_birthday,
               user_signature,
               user_exp,
               user_level,
               user_email,
               user_phone_number,
               user_if_op,
               create_time,
               update_time,
               user_if_used,
               count_of_follow,
               count_of_be_follow,
               count_of_private_posts,
               count_of_posts,
               count_of_comments
        from `user`
    </select>
    <select id="getByEmail" resultType="com.studio2h.javawebbbs.pojo.user.User">
        select user_id,
               user_name,
               user_password,
               user_avatar_path,
               user_sex,
               user_birthday,
               user_signature,
               user_exp,
               user_level,
               user_email,
               user_phone_number,
               user_if_op,
               create_time,
               update_time,
               user_if_used,
               count_of_follow,
               count_of_be_follow,
               count_of_private_posts,
               count_of_posts,
               count_of_comments
        from `user`
        where user_email = #{email}
    </select>
</mapper>